<!DOCTYPE html>
<html lang="en">
 
      
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/perfil/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/principal/css/style.css' %}">
    <!--link rel="stylesheet" href="./css/admin-header.css"-->

    <title>Nuevo Complejo</title>
</head>

<body class="background-style">
    <!-- HEADER -->
  <header class="headerXS">
    
      <div class="conteXS">
        <p>Iniciar sesión</p>
      </div>
    
  </header> 
    

        <div class="container">
            <div class="forms-cabanias">
                <div class="perfil form-cabania" id="reservas">

                    {% if mensaje %}
                    <p>{{ mensaje }}</p>
                    <button type="reset" class="XSbutton" onclick="window.location.href='/'">Volver</button>
              
                    {% else %}

                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Iniciar sesión">
                        
                    </form>
                {% endif %}
                    
                </div>
            </div>
        </div>


        
</body>
</html>