<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <meta name="theme-color" content="#2091F9">
    {% block css %}
    {% endblock css%}
    
    <link rel="stylesheet" href="{% static '/principal/css/style.css' %}?v={% now 'U' %}">

</head>

<body class="background-style">

    <!-- HEADER -->
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Panel de Control</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="{% url 'perfil' %}" class="nav__links">Perfil</a>
                </li>
                <li class="nav__items">
                    <a href="./crear_complejo/" class="nav__links">Nuevo Complejo</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-agregar-cabania.html" class="nav__links">Cabañas</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-contabilidad.html" class="nav__links">Contabilidad</a>
                </li>
                <li class="nav__items">
                    <a href="./admin-agenda.html" class="nav__links">Agenda</a>
                </li>

                <img src="#" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="#" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Bienvenido a tu Sistema de Administración</h1>
            <p class="hero__paragraph">Encuentra todo en un mismo lugar</p>
            <a href="#" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main class="background-style">
        {% block contenido %}
        {% endblock contenido %}
    </main>

    {% include './footer.html'%}

    <!--script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script-->
</body>

</html>