
{% extends 'principal/base.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static '/principal/css/style.css' %}?v={% now 'U' %}">
    {% endblock css%}
    {% block contenido %}    
    <!-- ICONOS DE ACCESO A OTROS HTML -->
    
        <section class="container about">

            <div class="about__main">

                <article class="about__icons">
                    <img src="{% static '/img/gif/perfil.gif' %}" class="about__icon">
                    <a href="{% url 'crear_perfil' %}?vista=crear_perfil&titulo=Perfil%20Administrador" class="nav__links"><h3 class="about__title"> PERFIL</h3></a>
                    <p class="about__paragrah">Listar los perfiles existentes y agregar nuevas.</p>
                </article>

                <article class="about__icons">
                    <img src="{% static '/img/gif/hogar.gif' %}" class="about__icon">
                    <a href="{% url 'listar_cabanias' %}" class="nav__links"><h3 class="about__title"> CABAÑAS</h3></a>
                    <p class="about__paragrah">Lista y agrega informacion sobre las cabañas para tus clientes.</p>
                </article>
                
                <article class="about__icons">
                    <img src="{% static '/img/gif/controlar.gif' %}" class="about__icon">
                    <a href="{% url 'listar_complejos' %}" class="nav__links"><h3 class="about__title"> COMPLEJOS</h3></a>
                    <p class="about__paragrah">Lista y agrega nuevos complejos</p>
                </article>

                <article class="about__icons">
                    <img src="{% static '/img/gif/computadora-portatil.gif' %}"class="about__icon">
                    <a href="{% url 'reservas' %}" class="nav__links"><h3 class="about__title"> AGENDA</h3></a>
                    <p class="about__paragrah">Gestiona las reservas de tus clientes tanto las realizadas en la pagina como en recepcion.</p>
                </article>

                <article class="about__icons">
                    <img src="{% static '/img/gif/ajustes.gif' %}"class="about__icon">
                    <a href="" class="nav__links"><h3 class="about__title"> SERVICIO TECNICO</h3></a>
                    <p class="about__paragrah">Solicita ayuda cuando quieras y necesites a solo un clik</p>
                </article>

                <article class="about__icons">
                    <img src="{% static '/img/gif/burbuja-de-dialogo.gif' %}" class="about__icon">
                    <a href="" class="nav__links"><h3 class="about__title"> PREGUNTAS FRECUENTES</h3></a>
                    <p class="about__paragrah">Consulta las respuestas a las preguntas mas planteadas y continua con tu gestion.</p>
                </article>
            </div>
        </section>
    
    {% endblock contenido %}            
   
    
   