{% extends 'perfil/base.html' %}
{% load static %}


<main>

    {% block contenido %}

    <div class="container">
        <div class="forms-cabanias">
            <div class="perfil form-cabania">
                <form name="perfilForm" id="perfilForm" action="{% url 'crear_perfil' %}" method="POST">
                    {% csrf_token%}
                    <legend>Perfil Administrador</legend>
                    <div class="datos">
                        {% if mensaje %}
                        <div class="alert alert-success" role="alert">
                            {{mensaje}}
                        </div>
                        {% endif %}

                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{message}}
                        </div>
                        {% endfor%}
                        <!--{{perfil_form.as_p}} lo muestra dentro de p-->
                        <!--{{perfil_form.as_ul}} lo muestra dentro de ul-->
                        <!--{{perfil_form.as_table}} lo muestra dentro de tablas
                        {{perfil_form}}-->
                    </div>

                    {% for campo in perfil_form %}

                    <label for="name">{{ campo.label }}</label>
                    {{campo}}

                    <div>{{campo.errors}}</div>

                    {% endfor %}

                    <button id="boton" type="submit" value="guardar" onclick="validarPerfilAdmin()">AGREGAR</button>
                </form>

            </div>
        </div>
    </div>
    {% endblock contenido %}
</main>