<!DOCTYPE html>
<html lang="en">
 
      
{% extends 'perfil/base.html' %}
{% load static %}
{% block contenido %}


<main>
  <div class="conteXS">
    <a href="{% url 'crear_cabania' %}" class="cta">Nueva cabaña</a>
  </div>
  
    {% if cabania or cabanias %}
    <table>
      
      
      
      {% if cabania %}
      <tr>
        <th>ID</th>
        <th>Nombre</th>  
        <th>Dormitorios</th>  
        <th>Personas</th>  
      </tr>
        <tr>
          <td>{{ cabania.id }}</td>
          <td>{{ cabania.nombre|upper }}</td>
          <td>{{ cabania.cantDormitorios }}</td>
          <td>{{ cabania.cantPersonas }}</td>
        </tr>
      {% else %}
        {% for cabania in cabanias %}
          <tr>
            <td>{{ cabania.id }}</td>
            <td>{{ cabania.nombre|upper }}</td>
            <td><a class="cta" href="{% url 'listar_cabaniasID' cabania.id %}">Ver detalle</a></td>
          </tr>
        {% endfor %}
      {% endif %}
      
    </table>
  {% else %}
    <p>No hay cabañas con los criterios seleccionados.</p>
  {% endif %}
  
  {% endblock contenido %}
</main>
