<!DOCTYPE html>
<html lang="en">
 
      
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/perfil/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/principal/css/style.css' %}">
    <!--link rel="stylesheet" href="./css/admin-header.css"-->

    <title>Listar Cabañas</title>
</head>

<body class="background-style">
    <!-- HEADER -->
  <header class="headerXS">
    
      <div class="conteXS">
        <p>Listar cabañas</p>
        <a href="{% url 'crear_cabania' %}">Nueva</a>
       
      </div>
      
  </header>
  {% if cabania or cabanias %}
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>  
      </tr>
      
      {% if cabania %}
        <tr>
          <td>{{ cabania.id }}</td>
          <td>{{ cabania.nombre|upper }}</td>
        </tr>
      {% else %}
        {% for cabania in cabanias %}
          <tr>
            <td>{{ cabania.id }}</td>
            <td>{{ cabania.nombre|upper }}</td>
            <td><a class="cta" href="{% url 'listar_cabaniasID' cabania.id %}">Ver detalle</a></td>
          </tr>
        {% endfor %}
      {% endif %}
      
    </table>
  {% else %}
    <p>No hay cabañas con los criterios seleccionados.</p>
  {% endif %}
  <button type="reset" class="XSbutton" onclick="window.location.href='../'">Volver</button>